/* app-category-card { margin: 10px} */

  .container { 
    display: grid;
    gap: 20px;
    grid-template-columns: 33% auto;
  }
  
  [class^="box-"] {
    display: grid;
  }

  .title {
    font-size: larger;
    font-weight: 200;
  }

  .prompt {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
  }