<mat-toolbar color="accent"> 
    <span>Temp Category Title</span>
    <span class="spacer"></span>
    <button mat-icon-button color="primary" aria-label="Next question">
        <mat-icon>double_arrow</mat-icon>
      </button>
</mat-toolbar>

<p>This is where a short description of the category will go.</p>
<mat-progress-bar mode="determinate" value="40" color="primary"></mat-progress-bar>

<!-- <button mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Next question">double_arrow</mat-icon></button> -->


