.container { 
    display: grid;
    gap: 20px;
    grid-template-columns: 33% auto;
  }
  
  [class^="box-"] {
    display: grid;
  }

  img {
    max-height:400px;
  }

  .question-text {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.5em;
  }